<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hotspot Dashboard</title>

		<link rel="stylesheet" href="/static/css/main.css">
	</head>

	<body>

		<section id="main-container">

			<h1>Hotspot Dashboard</h1>

			<pre id="result">
			</pre>

			<hr class="divider">

			<button id="btnGetStatus">Get Status</button><br>
			<button id="btnGetConfig">Get Config</button><br>

			<hr class="divider">

			<button id="btnRestart">Restart Hotspot</button> (hostapd, dhcpd, iptables, node.js)<br>
			<button id="btnStop">Stop Hotspot</button> (hostapd, dhcpd, iptables, node.js)<br>

			<hr class="divider">

			<input id="inpShutdownTimer" placeholder="Time to shutdown in minutes"></input><br>
			<button id="btnSetShutdownTimer">Set Shutdown Timer</button><br>
			<button id="btnUnsetShutdownTimer">Unset Shutdown Timer</button><br>

			<hr class="divider">

			<input id="inpSuspendTimer" placeholder="Time to suspend in minutes"></input><br>
			<button id="btnSetSuspendTimer">Set Suspend Timer</button><br>
			<button id="btnUnsetSuspendTimer">Unset Suspend Timer</button><br>
		</section>

		<script>
			window.GLOBAL_ROOT = "{{ GLOBAL_ROOT }}";
		</script>
		<script src="/static/js/main.js"></script>


	</body>

</html>
