
/* SOLARIZED COLORS:
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

html, body {
	background: #002b36;
	padding: 0;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	color: #93a1a1;
}

* {
	box-sizing: border-box;
}

.divider {
	background: #cb4b16;
	width: 100%;
	float: left;
	padding: 2px;
	margin: 25px 0 15px 0;
	border: none;
}


#main-container {
	width: 320px;
	padding: 20px 10px;
	margin: 0 auto;
	text-align: center;
}


h1 {
	border-bottom: 5px #dc322f solid;
    text-transform: uppercase;
}


pre#result {
	background: #073642;
	overflow: auto;
	padding: 10px 5px;
	border-radius: 8px;
	color: #859900;
	text-align: left;
}
pre#result::-webkit-scrollbar {
	-webkit-appearance: none;
}


button,
input {
	background: #586e75;
    width: 100%;
	border-radius: 8px;
	padding: 15px 10px;
	margin: 15px 0 0 0;
	color: #002b36;
	font-weight: bold;
    line-height: 120%;
    font-size: 110%;
    text-align: center;
}
button {
	padding: 5px 10px;
	cursor: pointer;
}
button, button:hover, button:focus,
input, input:hover, input:focus {
	border: none;
	outline: none;
}
button:hover,
button:focus {
	color: #839496;
}

input::-webkit-input-placeholder {
	color: #073642;
	font-size: 80%;
	font-weight: normal;
}
input::-moz-placeholder {
	color: #073642;
	font-size: 80%;
	font-weight: normal;
}
input:-ms-input-placeholder {
	color: #073642;
	font-size: 80%;
	font-weight: normal;
}
