interface={{ HOSTAPD.WLAN_IF }}
driver={{ HOSTAPD.DRIVER }}
ssid={{ HOSTAPD.SSID }}
channel={{ HOSTAPD.CHANNEL }}
ignore_broadcast_ssid={{ HOSTAPD.DISABLE_SSID_BROADCAST }}
hw_mode={{ HOSTAPD.MODE }}

{% if HOSTAPD.PASSPHRASE %}
auth_algs=1
wpa=3
wpa_passphrase={{ HOSTAPD.PASSPHRASE }}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP
{% endif %}

{% if HOSTAPD.MAC_ACL %}
macaddr_acl=1
accept_mac_file={{ CONF.ETC.ACCEPT }}
{% endif %}
